{% extends './layouts/base.html' %}

{% block title %} About {% endblock %} 

{% load static%}



{% block content %}

<h1>MaríaCé - Photographer</h1>

<section class="about">
    <img class= "photoPerfil" src="{% static 'img/MaricarmenPerfil.jpg'%}" alt="photo perfil" style="width: 25%;"/>
    <div class="aboutContent">
        <h1>Photography Lover</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste totam harum, sapiente aperiam iure voluptatem accusantium, possimus molestiae unde nihil autem iusto labore molestias eum, minus magnam quam sunt voluptatibus?</p>
    </div>
</section>

{% endblock %} 

