{% extends './layouts/base.html' %}

{% block title %} Portfolio {% endblock %} 

{% block content %}

<h1>My work</h1>

<section class="photos">
    <img src="https://picsum.photos/300/400" alt="random photographs"/>
    <img src="https://picsum.photos/300/400" alt="random photographs"/>
    <img src="https://picsum.photos/300/400" alt="random photographs"/>
    <img src="https://picsum.photos/300/400" alt="random photographs"/>
    <img src="https://picsum.photos/300/400" alt="random photographs"/>
    <img src="https://picsum.photos/300/400" alt="random photographs"/>
</section>

{% endblock %} 